<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rudal's Blog</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
      }
      h1 {
        color: #3f5d7a;
        margin: 20px 0;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
      h3 {
        color: #3f5d7a;
        margin-bottom: 10px;
      }
      .snip {
        color: blue;
      }
      button {
        background-color: rgb(89, 89, 212);
        padding: 10px;
        color: white;
        border: none;
        outline: none;
      }
      button:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>

    <h1 style="text-align: center">Rudal's Learning Node.js</h1>
    <div class="container">
      <div>
        <h1><%= blog.title%></h1>
        <p class="snip"><%= blog.snippet%></p>
        <p><%= blog.body%></p>
      </div>
      <input type="hidden" id="ID" value="<%= blog._id%>" />
      <button onclick="deleteBlog();" style="background-color: red">
        Delete
      </button>
      <a href="edit/<%= blog._id%>"><button>Edit</button></a>
    </div>
    <%- include('../partials/foot.ejs')%>
    <script>
      function deleteBlog() {
        const id = document.getElementById("ID").value;
        const endpoint = "delete/" + id;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) =>  window.location.href=data.redirect)
          .catch((error) => console.log(error));
      }
    </script>
  </body>
</html>
