<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rudal's Blog</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
      }
      h1 {
        color: #3f5d7a;
        margin: 20px 0;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
      h3 {
        color: #3f5d7a;
        margin-bottom: 10px;
      }
      .snip{
        color: blue;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>

    <h1 style="text-align: center;">Rudal's Learning Node.js</h1>
    <div class="container">
      <h3>All Blogs</h3>
      <div>
        <% if(blogs.length>0){%> <% blogs.forEach(blog=>{ %>
        <h1><%= blog.title%></h1>
        <p class="snip"><%= blog.snippet%></p>
        <p><%= blog.body%></p>
        <%})%> <%}else{%>
        <h3>There are no blogs</h3>
        <%}%>
      </div>
    </div>
    <%- include('./partials/foot.ejs')%>
  </body>
</html>